body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #5a0866;

.container {
    border-radius: 8px;
    box-shadow: #FFFF00;
    width: 300px;
    background-color: #7f7fef;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid 	#ac0cbe;;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #3d0bd3;;
    color: #0d0303;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: 	#5a0866;
}

#message {
    margin-top: 15px;
    text-align: center;
}
